<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
  <link href="http://www.onlinewebfonts.com">
  <link th:href="@{/css/error.css}" rel="stylesheet" />
  
  <title>CloseStudy</title>
</head>
<body>
				<br><br>
				<use>
  				<img th:src="@{/imagenes/adios.jpg}"width=25% height=25%   >
				</use>

				<br><br><br><br><br><br>
				<h1>Adios</h1>
				<h2>Esperamos hayas disfrutado el recorrido</h2>
				<h2 class="text-center">Gracias por su visita</h2>
				<h2>Volver al <a target="_self" th:href="@{/}">Inicio</a></h2>
				
				
				
				
				
</body>
</html>